[submodule "app/src/main/cpp/cJSON"]
	path = app/src/main/cpp/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "app/src/main/cpp/shadowhook"]
	path = app/src/main/cpp/shadowhook
	url = https://github.com/bytedance/android-inline-hook.git
	branch = dev
[submodule "app/src/main/cpp/BNM-Android"]
	path = app/src/main/cpp/BNM-Android
	url = https://github.com/chiteroman/BNM-Android.git
